[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
"pep8" = "*"

[packages]
flask = "*"
flask-restful = "*"
datetime = "*"
pytest = "*"
flasker = "*"

[requires]
python_version = "3.7"
